*{
    margin: 0;
}
body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
nav{
    display: flex;
    margin-left: 5%;
    margin-right: 5%;
    padding: 1.2% 0px 1% 0px;
}
nav a{
    text-decoration: none;
    color:#262626;
    font-size: 13px;
}
nav a:hover{
    border-bottom: 2.6px solid black;
}

#logo img{
    width: 100px;
}
#logo a:hover{
    border-bottom: 0px;
}
.right-menu{
    margin-left: auto;
    display: flex;
    gap: 19px;
}
.left-menu{
    display: flex;
    gap: 19px;
}

#landing{
   width: 100%;
    height: 550px;
    background-image: url("../img/logo2.jpg");
    background-size: cover;
    color: black;
}
.landing-text{
    width: 29%;
    padding-top: 15.5%;
    padding-left: 8%;
}
.landing-text p{
    margin-top: 19.5px;
    margin-bottom: 35px;
}
.landing-text h3{
    font-size: 30px;
    font-weight: 500;
}
.landing-text a{
    background-color: #005CA5;
    color: white;
    font-weight: 600;
    text-decoration: none;
    padding: 10px 17px 10px 17px;
    border-radius: 2px;
}
.landing-text a:hover{
    background-color: blue;
    border: 1px solid black; 
}

#features{
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 1.5%;
}

.space{
    height: 100px;
}
.features-item{
    width: 20%;
}
.features-item h2{
    margin: 10px 0px 10px 0px;
    font-size: 24px;
    font-weight: 500;
}
.features-item p{
    font-size: 16px;
    line-height: 25px;
    margin: 0 0 20px 0 ;
}

.features-item img{
    width: 100%;
}
.features-links a{
    text-decoration: none;
    color: #0067b8;
    font-weight: 600;
}
.features-links a:hover{
    text-decoration: underline;
}
#landing2{
   width: 90%;
    height: 550px;
    background-image: url("../img/third step.avif");
    background-size: cover;
     color: black;
    margin-left: 5%;
    margin-right: 5%;
}
.landing2-text{
    width: 29%;
    padding-top: 16%;
    padding-left: 8%;
    color: white;
}
.landing2-text p{
    margin-top: 19.5px;
    margin-bottom: 35px;
}
.landing2-text h3{
    font-size: 30px;
    font-weight: 500;
}
.landing2-text a{
    background-color: #005CA5;
    color: white;
    font-weight: 600;
    text-decoration: none;
    padding: 10px 17px 10px 17px;
    border-radius: 2px;
}
.landing2-text a:hover{
    background-color: blue;
    border: 1px solid black; 
}
.for-business h1{
    margin-left: 5%;
    font-size: 33px;
    font-weight: 500;
}
footer{
    width: 100%;
    height: 450px;
    background-color: #f2f2f2;
}
#footer1{
    width: 80%;
    gap: 1.8%;
    padding-top: 36px;
    padding-left: 0px;
    color: grey;
    display: flex;
}
.footer-tag h4{
  padding-left: 20px;
   font-size: 18px;
   font-weight: 550;
   color: #616161;
}
.footer-tag a{
    text-decoration: none;
    line-height: 37px;
    padding-top: 50%;
    padding-left: 20px;
    color: grey;
    font-size: 12px;
}
.footer-tag li{
    list-style-type: none;
    
}

@media only screen and (max-width: 600px){
    footer{
        width: 100%;
        height: 200px;
        background-color: blue;
    }
}